<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>795433433337-s3peud347j3lpnu5i1tjemtgc6q765ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795433433337-s3peud347j3lpnu5i1tjemtgc6q765ur</string>
	<key>API_KEY</key>
	<string>AIzaSyBeP_MBjne-7QHuiGzPzRJavu0YYzao8TI</string>
	<key>GCM_SENDER_ID</key>
	<string>795433433337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felix.aashishtamsya.ATFirebase</string>
	<key>PROJECT_ID</key>
	<string>batch-pimpri-weekday-4-30</string>
	<key>STORAGE_BUCKET</key>
	<string>batch-pimpri-weekday-4-30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:795433433337:ios:21eec94fc860d27a</string>
	<key>DATABASE_URL</key>
	<string>https://batch-pimpri-weekday-4-30.firebaseio.com</string>
</dict>
</plist>